.border {
    height: 1010px;
    width: 1680px;
    border-top: 20px solid;
    border-bottom: 20px solid;
    margin: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    font-family: monospace;
    -webkit-animation: blink 3s ease-in-out infinite alternate;
}



body {
    position: fixed;
    padding: 0;
    margin: 0px;
    top: 0;
    left: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 1000%;
    height: 100%;
    background-color: white;

}

a {
    color: #00B7FF;
}

/* Blinking animation code from http://jsfiddle.net/onigetoc/aLk7v/*/
@-webkit-keyframes blink {
    50% {
        border-color: #ff0000;
    }
}


.scroll-left {
    height: 1050px;
    overflow: visible;
    position: absolute;
    left:0px;
    right:0px;
}

    .scroll-left p {
        position: absolute;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: black;
        line-height: 50px;
        text-align: center;
        vertical-align: text-top;
        transform: translateX(25%);
        padding: 0px;
        animation: scroll-left 30s linear infinite;
        font: bold 1100px Arial, Helvetica, sans-serif;
    }

@keyframes scroll-left {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(-90%);
    }

}

/*Scrolling animation code from: https://codepen.io/Murtaxa/pen/egrRbN
